.main {
  max-width: 750px;
  margin-inline: auto;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 4px;
}

.error {
  font-weight: 600;
  color: red;
}

.success {
  color: var(--primary);
}
